#root {
  margin: 0 auto;
  width: 100%;
}

1: "#f66d91",
2: "#f66d91",
3: "#915ab8",
4: "#915ab8",
5: "#eed652",
6: "#eed652",
7: "#0b88c3",
8: "#0b88c3",
9: "#fc7974",
10: "#fc7974",
11: "#f17845",
12: "#f17845",
13: "#7abb6b",
14: "#7abb6b",
15: "#b0c552",
16: "#b0c552",

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loto-container {
  padding: 16px;
}

.ticket_container {
  width: fit-content;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 2px solid black;
  padding: 16px;
  background-color: white;
  z-index: 10;
}

.ticket_block {
  border: 0.5px solid black;
}

.ticket_row {
  display: flex;
  justify-content: center;
}

.ticket_row__number {
  width: 45px;
  height: 80px;
  border: 0.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

.ticket_container.small {
  gap: 8px;
  padding: 8px;
}

.ticket_container.small .ticket_row__number {
  width: 22.5px;
  height: 40px;
  font-size: 16px;
}

.ticket_container.preview {
  gap: 1px;
  padding: 1px;
  border: 0.05px solid black;
}

.ticket_container.preview .ticket_row__number {
  width: 5px;
  height: 12px;
  font-size: 4px;
  border: 0.1px solid black;
}

.ticket_row__number.checked {
  text-decoration: underline;
  text-decoration-color: red;
}

.container {
  z-index: 10;
  background: rgba(37, 37, 37, 0.8);
  border-radius: 8px;
  padding: 16px;
}

.history-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2d3a4a;
  min-width: 30px;
  height: 100%;
  background: #f6fcd8;
  border-radius: 8px;
  padding: 0 8px;
}

.history-number:first-of-type {
  color: rgb(0, 255, 13);
  background: #293825;
  font-size: 40px;
  min-width: 45px;
  height: 45px;
}

.btn-bingo {
  background-color: #343a40;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  width: 200px;
  height: 100px;
  font-size: 48px;
  font-weight: bold;
}
.btn-bingo-animation:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
